.api-menu.nav.hidden-print.affix
  ul.nav
    li
      h4
        a(href='#GhostTrain') GhostTrain
      ul.nav.api-methods
        li
          a(href='#newGhostTrain') constructor
        li
          a(href='#ghosttrain-request') ghosttrain.request()
        li
          a(href='#ghosttrain-VERB') ghosttrain.VERB()
        li
          a(href='#ghosttrain-set') ghosttrain.set()
        li
          a(href='#ghosttrain-get') ghosttrain.get()
        li
          a(href='#ghosttrain-enable') ghosttrain.enable()
        li
          a(href='#ghosttrain-disable') ghosttrain.disable()
    li
      h4
        a(href='#Request') Request
      ul.nav.api-methods
        li
          a(href='#req-params') req.params
        li
          a(href='#req-query') req.query
        li
          a(href='#req-body') req.body
        li
          a(href='#req-get') req.get()
        li
          a(href='#req-header') req.header()
        li
          a(href='#req-xhr') req.xhr
        li
          a(href='#req-method') req.method
        li
          a(href='#req-url') req.url
        li
          a(href='#req-path') req.path
        li
          a(href='#req-protocol') req.protocol
        li
          a(href='#req-secure') req.secure
        li
          a(href='#req-param') req.param
        li
          a(href='#req-is') req.is()
        li
          a(href='#req-range') req.range()
    li
      h4
        a(href='#Response') Response
      ul.nav.api-methods
        li
          a(href='#res-status') res.status()
        li
          a(href='#res-send') res.send()
        li
          a(href='#res-json') res.json()
        li
          a(href='#res-set') res.set()
        li
          a(href='#res-header') res.header()
        li
          a(href='#res-get') res.get()
        li
          a(href='#res-contentType') res.contentType()
        li
          a(href='#res-type') res.type()
        li
          a(href='#res-links') res.links()
