footer
  .container
    hr
    .row
      .col-md-3
        h4 Nav
        ul
          li
            a(href='index.html') Home
          li
            a(href='examples.html') Examples
          li
            a(href='api.html') API
          li
            a(href='adapters.html') Adapters
      .col-md-3
        h4 Adapters
        ul
          li
            a(href='index.html') Home
          li
            a(href='examples.html') Examples
          li
            a(href='api.html') API
          li
            a(href='adapters.html') Adapters
      .col-md-3
      .col-md-3
        h4 Contact
        p Made with &lt;3 by <a href='http://twitter.com/jsantell'>Jordan Santell</a>
        p Copyright © 2014, MIT License
script(src='scripts/site.js')
