.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='index.html') GhostTrain
    .navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='examples.html') Examples
        li
          a(href='api.html') API
        li
          a(href='http://github.com/jsantell/GhostTrain') Source

