.row
  .col-md-6
    h1 GhostTrain
    h2 Mock Router
  .col-md-3
  .col-md-3
.row
  .col-md-12
    p GhostTrain is a mock router library for serving mock data statically. Leveraging the same API as <a href="http://expressjs.com">Express</a>, GhostTrain allows developers to send mock requests to GhostTrain rather than making HTTP requests to a server, for development, testing and demos. Run in a browser, in node, and take development to the next level.
.row
  .col-md-3
  .col-md-6
    include home-example.html
  .col-md-3


.row
  .col-md-3
    h3 Speedy Development
    p Drop GhostTrain into your web app to mock API responses so you don't have to spin up your API server, and so you don't have to depend on server features being incomplete or broken.

  .col-md-3
    h3 App Demos
    p Turn your web app service into a demo by using GhostTrain's mock data to populate the user experience you want to show off without ever pinging your servers.

  .col-md-3
    h3 Testing
    p Run tests against GhostTrain's mock API rather than a remote server to ensure the durability of your code, separate from the service's API.

  .col-md-3
    h3 Reuse Router Code
    p GhostTrain's routing API is based on <a href="http://expressjs.com">Express</a>, so if you're using Express, you can reuse your router code with a changed data store for your client.


