body {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3033;
  background-color: #ccc;
}
body a {
  color: #4b5159;
  text-decoration: underline;
}
body a:hover {
  color: #888828;
}
body a:active {
  color: #4b5159;
}
body a:focus {
  outline: 0;
  color: #4b5159;
}
.navbar-inverse li.active a {
  background-color: #2c3033;
}
body > .container {
  margin-top: 80px;
}
.navbar {
  background-color: #4b5159;
}
.navbar a {
  text-decoration: none;
}
.api-menu {
  position: fixed;
  font-size: 90%;
}
.api-menu a {
  text-decoration: none;
}
.api-menu li ul.api-methods {
  display: none;
}
.api-menu li a:hover {
  background: none;
  text-decoration: underline;
}
.api-menu li.active .api-methods {
  display: block;
}
.api-menu li.active .api-methods li {
  height: 20px;
}
.api-menu li.active .api-methods li a {
  padding: 0px 10px;
}
.api-menu li.active .api-methods li.active a {
  border-left: 2px solid #888828;
  padding: 0px 8px;
}
body.index h1 {
  font-size: 52px;
  display: inline;
  float: left;
}
body.index h2 {
  display: inline;
  float: left;
  margin-top: 41px;
  color: #999;
}
body.api h2 a,
body.examples h2 a,
body.api h3 a,
body.examples h3 a {
  padding-top: 80px;
  text-decoration: none;
}
body.api h2,
body.examples h2,
body.api h3,
body.examples h3 {
  margin-top: 80px;
}
pre {
  margin-top: 20px;
  border-left: 4px solid #888828;
}
p > code > span,
li > code > span {
  color: #2c3033 !important;
  background-color: #eee !important;
}
footer {
  margin-top: 200px;
  height: 400px;
  color: #4b5159;
}
footer a {
  color: #4b5159;
}
footer ul {
  list-style-type: none;
  padding-left: 0px;
}
footer ul li {
  margin-left: 0px;
}

