doctype html
html
  head
    title GhostTrain - Client-side router
    include includes/head
  body.api
    -var current='api.html'
    include includes/header
    .container
      .row
        .col-md-3
          include includes/apimenu
        .col-md-9
          include ../api/api.html

    include includes/footer
