doctype html
html
  head
    title GhostTrain - Client-side router
    include includes/head
  body.examples
    include includes/header
    .container
      .row
        .col-md-3
          include includes/examplesmenu
        .col-md-9
          include includes/examples

    include includes/footer
