doctype html
html
  head
    title GhostTrain - Client-side router
    include includes/head
  body.index
    include includes/header
    .container
      include includes/home
    include includes/footer
